body {
  text-align: center;
  background-color: #666666;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
}

input {
  padding: 8px;
  border-radius: 2px;
  margin:5px;
}

img {
  max-height: 200px;
}

.creditAPI {
  margin: 10px;
}

button {
  border: 1px solid black;
  border-radius: 1px;
  background-color: #cc4949;
  color: white;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4b4b;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.poster {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.posterSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 1px;
  margin: 10px;
  background-color: #999999;
}

@media screen and (max-width: 600px) {
  .poster {
    display: flex;
    flex-direction: column;
  }
  #logo {
    width: 80vw;
  }
}